

.input-container {
    height: 1em; 
    width: 60%;
}
.input-container img {
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

.input-container input {
    margin-left: 130px;
    border-radius: 25px;
}