@font-face {
    font-family: 'wild river';
    src: url('../src/resources/fonts/wildriver.otf')
        format('opentype'); 
}

body {
    color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}